$brand-primary:#428bca;
$body-bg:#2d9596;
$state-success-text:#5cb85c;
$sp-homepage-bg:#2d9596;
$sp-navbar-divider-color:#2d9596;
$text-color:#dbcc95;
$sp-logo-margin-y:8px;
$navbar-inverse-link-hover-color:#ecf4d6;
$panel-bg:#265073;
$brand-success:#5cb85c;
$navbar-inverse-bg:#265073;
$brand-warning:#f0ad4e;
$brand-danger:#d9534f;
$sp-tagline-color:#717171;
$navbar-inverse-link-color:#9ad0c2;
$brand-info:#5bc0de;
$link-color:#428bca;
$sp-logo-margin-x:8px;
$btn-default-bg:#2d9596;
$text-muted:#979797;
